body {
    font-family: 'Barlow', sans-serif;
    margin: 0;
    padding: 0;
    background-color: #f4f4f4;
    color: #303030;
}

.app-container {
    display: flex;
    flex-direction: column;
    min-height: 100vh;
}

.content {
    flex: 1;
    padding: 40px;
}

/* Navbar */
.navbar {
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: #21335b;
    padding: 15px 40px;
    color: white;
}

.nav-links {
    list-style: none;
    display: flex;
}

.nav-links li {
    margin: 0 15px;
}

.nav-links a {
    color: white;
    text-decoration: none;
    font-weight: bold;
}

/* Footer */
.footer {
    background-color: #21335b;
    color: white;
    text-align: center;
    padding: 15px;
    font-size: 14px;
}
